html{
background-color:#3B0A4A;
}

#gerland{
margin-left:150px;
background-image:url(images/9t.png);
height:500px;
width:1000px;
background-repeat:no-repeat;
background-color:black;
}

#img1{
height:450px;
width:1000px;
background-repeat:no-repeat;;
transition: 1s;
}
#img2{
height:450px;
width:1000px;
background-repeat:no-repeat;;
margin-top:-450px;
transition: 1s;


}
#img3{
height:450px;
width:1000px;
background-repeat:no-repeat;;
margin-top:-450px;
transition: 1s;


}




















